body {
    margin:20px;
}

.upload-change {
    font-size:1.5em;
    margin-right:20px;
    color:#FFF;
    background-color:#0078E7;
    padding:5px;
    border-radius:2px;
}

.upload-change:hover {
    cursor:pointer;
    background-image:linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

.upload-label {
    display:inline-block;
    width:200px;
    font-weight:bold;
    font-size:1.1em;
}

.upload-selection {
    width:500px;
    margin-right:50px;
}

#upload-file-field {
    display:none;
}

.pure-table thead {
    text-align: center;
}

#list_documents {
    width: 95%;

}
